<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./tests/bootstrap.php"
         colors="true">
  <testsuites>
    <testsuite name="HTTP/1.x Test Suite">
      <directory>tests</directory>
      <exclude>tests/Http2</exclude>
    </testsuite>
    <testsuite name="HTTP/2 Test Suite">
      <directory>tests/Http2</directory>
    </testsuite>
    <!--<testsuite name="All Tests">-->
      <!--<directory>tests</directory>-->
    <!--</testsuite>-->
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">src</directory>
      <exclude>
        <directory suffix="Interface.php">src/</directory>
      </exclude>
    </whitelist>
  </filter>
</phpunit>
